<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vathsav.blink">

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:name=".BlinkApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.SplashActivity"
            android:theme="@style/AppTheme.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.VerificationActivity">
            <intent-filter>
                <action android:name="com.vathsav.blink.VERIFICATION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.vathsav.blink.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.DetailsActivity"
            android:label="@string/title_activity_details"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/AppTheme.CoordinatorLayout">
            <intent-filter>
                <action android:name="com.vathsav.blink.DETAILS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.NewTextLogActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.vathsav.blink.NEW_TEXT_LOG" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.NewAudioLogActivity">
            <intent-filter>
                <action android:name="com.vathsav.blink.NEW_AUDIO_LOG" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.NewVideoLogActivity">
            <intent-filter>
                <action android:name="com.vathsav.blink.NEW_VIDEO_LOG" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.AboutActivity">
            <intent-filter>
                <action android:name="com.vathsav.blink.ABOUT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".activity.MainActivity">
            <intent-filter>
                <action android:name="com.vathsav.blink.SETTINGS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.vathsav.blink.activity.MainActivity" />
        </activity>
    </application>

</manifest>